{% extends 'layouts/app.html' %}
{% block contenido %}
<section class="banner">
    <div class="content-banner">
        <p>Servicios</p>
        <h2>100% Calidad <br/>ahora mismo</h2>
        <a href="#">Comprar ahora</a>
    </div>
</section>

<main class="main-content">
    <section class="container container-features">
        <div class="card-feature">
            <i class="fa-solid fa-plane-up"></i>
            <div class="feature-content">
                <span>Envío gratuito a nivel mundial</span>
                <p>En pedido superior a $150.000</p>
            </div>
        </div>
        <div class="card-feature">
            <i class="fa-solid fa-wallet"></i>
            <div class="feature-content">
                <span>Contrareembolso</span>
                <p>100% garantía de devolución de dinero</p>
            </div>
        </div>
        <div class="card-feature">
            <i class="fa-solid fa-gift"></i>
            <div class="feature-content">
                <span>Tarjeta regalo especial</span>
                <p>Ofrece bonos especiales con regalo</p>
            </div>
        </div>
        <div class="card-feature">
            <i class="fa-solid fa-headset"></i>
            <div class="feature-content">
                <span>Servicio al cliente 24/7</span>
                <p>LLámenos 24/7 al +56 9 30099797</p>
            </div>
        </div>
    </section>

    <section class="container top-categories">
        <h1 class="heading-1">Mejores Categorías</h1>
        <div class="container-categories">
            <div class="card-category category-moca">
                <p>Snow bike</p>
                <span>Ver más</span>
            </div>
            <div class="card-category category-expreso">
                <p>Mountain Bike</p>
                <span>Ver más</span>
            </div>
            <div class="card-category category-capuchino">
                <p>Street Bike</p>
                <span>Ver más</span>
            </div>
        </div>
    </section>

    <section class="container top-products">
        <h1 class="heading-1">Mejores Productos</h1>

        <div class="container-options">
            <span class="active">Destacados</span>
            <!--<span>Más recientes</span>
            <span>Mejores Vendidos</span>-->
        </div>
        <div class="container-products">
            <!-- Producto 1 -->
            <div class="card-product">
                <div class="container-img">
                    <img src="https://cdn.shopify.com/s/files/1/1629/6545/products/850981001_2_55300297-afa6-4b90-bc3f-f2b39d456daf.jpg?v=1621952998" alt="Vision Krypton" />
                    <span class="discount">-13%</span>
                </div>
                <div class="content-card-product">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <h3>Vision Krypton</h3>
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                    <p class="price">$173.991<span>$199.990</span></p>
                </div>
            </div>
            <!-- Producto 2 -->
            <div class="card-product">
                <div class="container-img">
                    <img
                        src="https://r.btcdn.co/r/eyJzaG9wX2lkIjozNzAwLCJnIjoiMTAwMHgifQ/c9c824a626e2b91/807014-1044050-1.jpg"
                        alt="Atletis Galia"
                    />
                    <span class="discount">-22%</span>
                </div>
                <div class="content-card-product">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <h3>Atletis Galia</h3>
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                    <p class="price">$109.192<span>$139.990</span></p>
                </div>
            </div>
            <!--  -->
            <div class="card-product">
                <div class="container-img">
                    <img
                        src="https://r.btcdn.co/r/eyJzaG9wX2lkIjozNzAwLCJnIjoiMTAwMHgifQ/c9c824a626e2b91/728515-1062550-1.jpg"
                        alt="Cafe Australiano"
                    />
                </div>
                <div class="content-card-product">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h3>Atletis Pizol</h3>
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                    <p class="price">$119.990</p>
                </div>
            </div>
            <!--  -->
            <div class="card-product">
                <div class="container-img">
                    <img src="https://urquizamotos.com.ar/108175-large_default/bicicleta-de-mujer-mountain-bike-raleigh-mojave-20-r275-.jpg" alt="Raleigh Mojave" />
                </div>
                <div class="content-card-product">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <h3>Raleigh Mojave</h3>
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                    <p class="price">$179.990</p>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery">
        <img
            src="https://lh3.googleusercontent.com/nt-SJXyoakRr8LsPDhbzDxAIyROTtfWjEnokUsk6-jvu1sKrK_VAXwo5UBlwInDkXUJ2o3yH9UP8PDZF9WJysXFel8O-K2ttlAqRydDD"
            alt="Gallery Img1"
            class="gallery-img-1"
        /><img
            src="https://lh3.googleusercontent.com/WVievy5v9EhsvIpv5Gt-7dPTeuxj_IrN41rI5QvrMWuDT_brl_bWkFatrDNLp0vVTz3TafwbKqZf1XfZIYSUXfEYiKGY3sMps2SQiH8TTw"
            alt="Gallery Img2"
            class="gallery-img-2"
        /><img
            src="https://lh3.googleusercontent.com/kh0nbnGc1lZIrYMUkYY_poqrYYEU_u1arhgoiD1WrfXU5SFgyUBPcN5kPRT2-U1ZPyOFJs-XSVOrqFZZBg7K6gf14kSZfK1A2aXC2cwKzA"
            alt="Gallery Img3"
            class="gallery-img-3"
        /><img
            src="https://lh3.googleusercontent.com/FQdmyD_Kgt1D7fKmG8hwFtR7WmaKqVLcfg_STWfzwtFFq3GgtEVyt8tEScXw2thUrbcTEhQUh9b5el8A1zZlkxa_01D26P0lCEuQHpJo"
            alt="Gallery Img4"
            class="gallery-img-4"
        /><img
            src="https://lh3.googleusercontent.com/plDtqouY9dzB92kGJmtN776P-7vAYpad-xF23yQX1ecNG2ZA4TmoNg04ubZDfeCBCR1CVHL7WuFvD4ZH8pOkSeULNib7_PBXaogegh2U"
            alt="Gallery Img5"
            class="gallery-img-5"
        />
    </section>

    <section class="container specials">
        <h1 class="heading-1">Especiales</h1>

        <div class="container-products">
            <!-- Producto 1 -->
            <div class="card-product">
                <div class="container-img">
                    <img src="https://eloutletdelabicicleta.cl/wp-content/uploads/2022/06/IM08825.jpg" alt="Kench Usa" />
                    <span class="discount">-13%</span>
                </div>
                <div class="content-card-product">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <h3>Kench Usa</h3>
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                    <p class="price">$208.793<span>$239,993</span></p>
                </div>
            </div>
            <!-- Producto 2 -->
            <div class="card-product">
                <div class="container-img">
                    <img
                        src="https://starbikes.cl/wp-content/uploads/2021/11/cdmgb21m41301u10os.jpg"
                        alt="Mongoose Legion"
                    />
                    <span class="discount">-22%</span>
                </div>
                <div class="content-card-product">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <h3>Mongoose Legion</h3>
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                    <p class="price">$351.000<span>$450,000</span></p>
                </div>
            </div>
            <!--  -->
            <div class="card-product">
                <div class="container-img">
                    <img src="https://fulldeportes.cl/wp-content/uploads/2021/10/19.png" alt="Bmx 5" />
                    <span class="discount">-30%</span>
                </div>
                <div class="content-card-product">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h3>Bmx 5</h3>
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                    <p class="price">$118.993<span>$169,990</span></p>
                </div>
            </div>
            <!--  -->
            <div class="card-product">
                <div class="container-img">
                    <img src="https://prisenco.com/cdn/shop/collections/image_1200x1200.jpg?v=1681503328" alt="Prison CO" />
                </div>
                <div class="content-card-product">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <h3>Prison CO</h3>
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                    <p class="price">$180.000</p>
                </div>
            </div>
        </div>
    </section>
    <script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
	></script>
{% endblock  %} 