<footer class="footer">
    <div class="container container-footer">
        <div class="menu-footer">
            <div class="contact-info">
                <p class="title-footer">Información de Contacto</p>
                <ul>
                    <li>
                        Dirección: Tobalaba con departamental 
                    </li>
                    <li>Teléfono: +56 9 3009797</li>
                    <li>EmaiL: nic.cares@duocuc.cl</li>
                </ul>
                <div class="social-icons">
                    <span class="facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </span>
                    <span class="twitter">
                        <i class="fa-brands fa-twitter"></i>
                    </span>
                    <span class="youtube">
                        <i class="fa-brands fa-youtube"></i>
                    </span>
                    <span class="pinterest">
                        <i class="fa-brands fa-pinterest-p"></i>
                    </span>
                    <span class="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </span>
                </div>
            </div>

            <div class="information">
                <p class="title-footer">Información</p>
                <ul>
                    <li><a href="#">Acerca de Nosotros(mantenimiento...)</a></li>
                    <li><a href="#">Información Delivery(mantenimiento...)</a></li>
                    <li><a href="#">Politicas de Privacidad(mantenimiento...)</a></li>
                    <li><a href="#">Términos y condiciones(mantenimiento...)</a></li>
                    <li><a href="#">Contactános(mantenimiento...)</a></li>
                </ul>
            </div>

            <div class="my-account">
                <p class="title-footer">Mi cuenta</p>

                <ul>
                    <li><a href="#">Mi cuenta(mantenimiento...)</a></li>
                    <li><a href="#">Historial de ordenes(mantenimiento...)</a></li>
                    <li><a href="#">Lista de deseos(mantenimiento...)</a></li>
                    <li><a href="#">Boletín(mantenimiento...)</a></li>
                    <li><a href="#">Reembolsos(mantenimiento...)</a></li>
                </ul>
            </div>

            <div class="newsletter">
                <p class="title-footer">Boletín informativo</p>

                <div class="content">
                    <p>
                        Suscríbete a nuestros boletines ahora y mantente al
                        día con nuevas colecciones y ofertas exclusivas.
                    </p>
                    <input type="email" placeholder="Ingresa el correo aquí...">
                    <button>Proximamente....</button>
                </div>
            </div>
        </div>
    </div>
</footer>